<div class="row">
    <div class="col-md-4">
        <form method="post"
              action="/gererfrais/validermajfraisforfait"
              id="formFrais"
              role="form">
            <fieldset>
                {% for frais in lesFrais %}
                    <div class="form-group">
                        <label for ="{{ frais.idfrais }}">{{ frais.libelle|e }}</label>
                        <input type="text" id="lesFrais"
                               name="LesFrais[{{ frais.idfrais }}]"
                               size="10" maxlenght="5"
                               value="{{ frais.quantite }}"
                               class="form-control">
                    </div>
                {% endfor %}
                <button class="btn btn-success" type="submit" id="validerFrais">Ajouter</button>
                <button class="btn btn-danger" type="reset">Effacer</button>
            </fieldset>
        </form>
    </div>
</div>