<div class="row">
    <div class="col-md-4">
        <form method="post"
              id="formFrais"
              role="form">
            <fieldset id="detailsFrais">
                {% for frais in lesFrais %}
                    <div class="form-group">
                        <label for ="{{ frais.idfrais }}">{{ frais.libelle|e }}</label>
                        <input type="text" id="lesFrais"
                               data_id="{{ frais.idfrais }}"
                               size="10" maxlenght="5"
                               value="{{ frais.quantite }}"
                               class="form-control">
                    </div>
                {% endfor %}
                <span class="btn btn-success" id="validerFrais">Corriger</span>
                <button class="btn btn-danger" type="reset">Réinitialiser</button>
            </fieldset>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
    });
    $('#validerFrais').click(function(){
        lesFrais= {};
        detailsFrais = $('#detailsFrais').children('div');
        detailsFrais.each(function(){
            inputFrais = $(this).children('input');
            idFrais = inputFrais.attr('data_id');
            valeurFrais = inputFrais.attr('value');
            lesFrais[idFrais]=valeurFrais;
        });
        jsonLesFrais = JSON.stringify(lesFrais);
        $.ajax({
            url: "/corrigerfraisforfait",
            type: 'POST',
            data:{'tabLesFrais': jsonLesFrais
            },
            success:function(result){
                console.log(result);
                detailsFrais.append(result);
                alert('Les modifications ont bien été prises en compte !');
            }
        });
    });
</script>